@using ForumModels;
@using Newtonsoft.Json;

@{
    string dataFile = Server.MapPath("~/App_Data/data.json");
    string json = File.ReadAllText(dataFile);
    var users = JsonConvert.DeserializeObject<List<User>>(json);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forum Scorer</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>Antares Forum Scorer</h1>
        </div>

        @RenderPage("ScoreList.cshtml", users, (Func<User, Scores>)(u => u.WeekScores), "This week's leaderboard (the week ends on Friday)")
        @RenderPage("ScoreList.cshtml", users, (Func<User, Scores>)(u => u.PreviousWeekScores), "Last week's leaderboard")


        <div class="panel panel-default">
            <div class="panel-heading"><h2>Notes</h2></div>

            <ul class="list-group">
                <li class="list-group-item">This counts activity in all MSDN forums; not just <a href="https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazurewebsitespreview">Web Apps</a></li>
                <li class="list-group-item">Click on a user's name to see their activity detail on MSDN</li>
                <li class="list-group-item">Counts are updated every hour using a WebJob</li>
                <li class="list-group-item">Sources are on <a href="https://github.com/davidebbo/ForumScorer">https://github.com/davidebbo/ForumScorer</a> if you want to make a pull request</li>
            </ul>

            <div class="panel-heading"><h4>Points are given as follows:</h4></div>

            <ul class="list-group">
                <li class="list-group-item">20 points for quickly answering a question</li>
                <li class="list-group-item">15 points for answering a question</li>
                <li class="list-group-item">5 points for contributing a helpful post</li>
                <li class="list-group-item">1 for responding to a question (additional responses to the same question don't count)</li>
            </ul>
        </div>
    </div>
</body>
</html>
