@using Newtonsoft.Json;

@{
    string dataFile = Server.MapPath("~/App_Data/data.json");
    string json = File.ReadAllText(dataFile);
    dynamic data = JsonConvert.DeserializeObject(json);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forum Scorer</title>
</head>
<body>
    <div>
    Forum Scorer
    </div>

    <ul>
        @foreach (var user in data)
        {
            if (user.Score == 0) { continue; }

            <li>@user.Name: @user.Score</li>
        }
    </ul>
</body>
</html>
