@using Newtonsoft.Json;

@{
    string dataFile = Server.MapPath("~/App_Data/data.json");
    string json = File.ReadAllText(dataFile);
    var data = (IEnumerable<dynamic>)JsonConvert.DeserializeObject(json);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forum Scorer</title>
</head>
<body>
    <div>
    Forum Scorer
    </div>

    <ul>
        @foreach (var user in data.OrderByDescending(u=>u.WeekScore))
        {
            if (user.WeekScore == 0) { break; }

            <li>@user.Name: @user.WeekScore</li>
        }
    </ul>

    <ul>
        @foreach (var user in data.OrderByDescending(u => u.PreviousWeekScore))
        {
            if (user.PreviousWeekScore == 0) { break; }

            <li>@user.Name: @user.PreviousWeekScore</li>
        }
    </ul>
</body>
</html>
